body {
    font-family: -apple-system;
    font-size: 1rem;
    line-height: 1.42857143;
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
}

main.page > .theme-default-content{
    max-width: 80%;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
main.page > .page-nav{
    max-width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}
main.page > .theme-default-content span.badge{
    margin: 0;
}


.navbar > .links .nav-link{
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    border: 0 !important;
    margin: 0 !important;
    transition: all ease .15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.navbar .nav-item .nav-link.router-link-active {
    color: #2ca37d;
}

// 关闭搜索栏
.navbar .links .search-box {
    display: none;
}

// 关闭尾部导航
.page-nav .inner {
    display: none;
}

// sidebar
.sidebar {
    border-right: 3px solid #2c3e50
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 100%;
    overflow: auto;
    break-inside: auto;
    text-align: left;
    display: table;
}


table thead {
    background-color: #f6f8fa;
}

table th {
    border: 0.1em solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}


table tr {
    border-top: 0.1em solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table td {
    border: 0.1em solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}